<h1>Forms</h1>
<h3>Submitted Information</h3>
<%= flash[:errors] %>
<%= flash[:success] %>

<p>Name:<%= @sur.name %></p>
<p>Dojo Location:<%= @sur.location %></p>
<p>Favorite Language:<%= @sur.language %></p>
<p>Comment:<%= @sur.comment %></p>

<button><a href="/">Go Back</a></button>